.singleItem {
  margin-bottom: 20px;
}
#terminal {
  background: black;
  color: white;
  font-size: 18px;
  line-height: 20px;
  padding: 10px 20px;
  font-family: "Courier New", Courier, monospace;
  height: 100px;
  overflow-y: scroll;
}
body {
  margin-bottom: 110px;
}
